---
minify: true
minify_inplace: false
name: Minification CSS
---
/*
    CSS Minification Test
    The contents of this file should be in minified form, with unneccessery spacing and comments removed.
*/

.minification
{
    font-family: sans-serif;
    font-size: 1rem;
}